.DS_Store
*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
target/
.scala_dependencies
.worksheet
data/femur/SMIR/*
data/hand/partial/*
data/hand/logs/*
data/hand/experiments/*
data/hand/aligned/landmarks3D/*
data/hand/registered/landmarks3D/*
